*{
   margin: 0;
   padding: 0;

}
@font-face {
   font-family: 'SF Pro Text';
   src: url(/assets/FontsFree-Net-SFProText-Regular\ \(1\).ttf);
}
body{
   font-family:'SF Pro Text';
   
}
.header-container{
   width: 100%;
   box-shadow: 0px 2px 0px #F5F5F5;

}
.menuu{
   display: none;
}
.header{
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
box-shadow: 0px 2px 0px #F5F5F5;
}
.responsive-logo{
   max-width: 200px;
   height: auto;
}
.responsive-logo img{
   width: 100%;
}

.left-and-right{
   display: flex;
   justify-content: space-between;
   width: 81%;
   align-items: center;

}
.left-header-list{
   display: inline-block;
   width: 40%;
}
.left-header-list ul{
   list-style-type:none;
   display:flex;
   align-items: center;
   width: 100%;
   margin-left: 16px;
   word-wrap: break-word;
   white-space: nowrap;
}
.left-header-list ul li{
   width: 100%;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 500;
   font-size: 1em;
   line-height: 20px;
   color: #000000;
}
.left-header-list ul li span{
   margin-left: 8px;
}
 .left-header-list ul li .c14459{
 font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 20px;
color: #2AB070;   
}
.left-header-list ul img{
margin-right: 16px;  
}
.right-header{
   display: inline-block;
   justify-content: flex-end;
   width: 50%;
}

.right-header ul{
   display:flex;
   list-style-type: none;
   width: 100%;
   column-gap: 36px;
   justify-content: flex-end;
   width: fit-content;
   margin-left: auto;
}
.right-header ul li{
 display: flex;
 align-items: center;
}
.box{
   width: 21.43px;
   height: 21.43px;
}
.rs{
   width: 18px;
   margin-left: 6.8px;

}
.c2000{
   font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
font-style: normal;
}
nav{
   width: 16%;
   /* height: 100vh; */
   border-right: 2px solid #f5f5f5;
}
nav div{
   margin-bottom:6px;
    max-width: 220px;
   height: 48px;
   display: flex;
   align-items: center;
}
nav div img{
   margin-left: 17px;
   margin-right: 13.72px;
   max-width: -webkit-fill-available;
}
.dashboard{
   background: #F2F7FE;
   border-left: 5px solid blue;
   width: auto;
}
.dashboard-container span{
   font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #808080;
}
.down{
margin-left: auto;
}
.bottom-dashbord{
   display: block;
   justify-content:center;
   align-items: center;   
   height: auto;
}
.profile-surjith{
 margin-bottom: 18px;
 height:72px;
}
.toggle{
   height: 72px;
}
.hero-container{
   display: flex;
   width: 100%;
}
.right-all-div-container{
   display: flex;
   flex-direction:column;
   width: 84%;
}
.stock-rate-container{
   display:flex;
   width: 100%;
   justify-content: space-around;
   padding: top;
   padding-top: 34px;
   padding-bottom: 34px;
   height: fit-content;
   align-items: center;
   word-wrap: break-word;
   white-space: nowrap;
   flex-wrap: wrap;
}

.display-on-410{
   display: none;
}
.display-410-banknifty{
   display: none;
}

.Jhunjhunwala .namej{
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
color: #333333;
margin-bottom: 5px;

}
.Jhunjhunwala .image1{
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-left: -2px;
} 
.i{
   display: none;
}
.Jhunjhunwala .by{
color: #787878; 
margin-right: 2px;
 width: 12px;
height: 18px;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 18px;
}
.Jhunjhunwala #light-text {
   /* margin-bottom: 5px; */
   /* width: 140px; */
height: 13px;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400; 
font-size: 11px;
line-height: 13px;
/* vertical-align: middle; */
color: #787878;
}
.Jhunjhunwala #light-text img{
   vertical-align: middle;
}
  .Jhunjhunwala .f200{
   width: 40px;
   height: 14px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #898989;
   opacity: 0.8;
  
 }
 .followers{
   height: 16px;
 }
 .followers span{
   padding: 2px 4px;
   gap: 10px;
   width: 32px;
   height: 16px;
   background: #F8FAFD;
   border-radius: 4px 0px 0px 4px;
   color: #2C78F6;
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   vertical-align: text-top;
}
.bank-nifty P:first-child{
   width: 124px;
   height: 16px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   color: #808080;
   margin-bottom: 4px;
}
.bank-nifty p:last-child{
   width: 115px;
height: 14px;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #898989;
}
.capital-required P:first-child , .hit-ratio P:first-child , .risk p:first-child , .gross-role P:first-child{
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #999999;
   margin-bottom: 4px;
}
.risk p:last-child{
   font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #E22828;
width: 46px;
height: 16px;

}
.gross-role .c4245{
   color: #2AB070;
   width: 56px;
height: 18px;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
margin-right: 5px;
}
.gross-role p:last-child{
  max-width: 108px;
   height: 13px;

   font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #787878;
}
 .button button{
   padding: 4px 8px;
   width: 220px;
   color: #2C78F6;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 14px;
   border: 1px solid #2C78F6;
   border-radius: 4px;
   background-color: #ffffff;

}
.capital-required p:last-child , .hit-ratio p:last-child{
   width: 48px;
   height: 16px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   color: #3D3D3D;
}
.analytical-list-container{
   display: flex;
   /* justify-content: space-around; */
   padding-bottom: 13px;
   border-bottom: 2px solid #F8FAFD;
   margin-right: 30px;
   margin-left: 30px;
}
.analytical{
width: 63px;
height: 18px;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #2C78F6;
margin-right: 14px;
border-bottom: 3px solid blue;
padding-bottom: 14px;


}
.left-ana p{
  padding-left: 6px;
   color: #666666;
  
   /* width: 56px; */
   height: 18px;
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
}
.day-list{
   margin-left: auto;
   padding-right: 6px;
}
.day-list span{
   margin-left:32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: #666666;
}
.day-list span:first-child{
   padding-bottom: 13px;
   padding-right: 6px;
   padding-left: 6px;
 border-bottom: 3px solid blue;
}
/* .performance-container{
   padding-left: 24px; */

.performance-pluse-return-container{
   display: flex;
   /* border:2px solid springgreen; */
   margin-top: 16px;

}
.performance-container{
 max-width: 50%;
 /* border: 1px solid blue; */
 border: 2px solid #F8FAFD;
 border-radius: 4px;
 padding-left: 24px;
 padding-right: 24px;
}
.performance-container .performance-bottom-line{
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;  
   color: #141414;
   padding-bottom: 14px;
   border-bottom:2px solid #F8FAFD;
   padding-top: 24px;
   /* width: 88px; */
}

.image-graph img{
   width: -webkit-fill-available;
}

.backtest{
   width:100%;
   display: flex;
   justify-content:space-evenly;
   margin-bottom: 32px;

}
.backtest p:first-child{
   font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #999999;
}
.backtest p:nth-child(2){
   font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #2C78F6;
/* padding-right: 20%; */
}
.backtest p:last-child{
   font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #2AB070;
}
.circle-all-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.circle-left-container{
   display: flex;
   width: 50%;
} 
.circle-right-container{
   width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1-text-right{
   width: 50%;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
.circle2-text-right{
   width: 50%;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.circle2-text-right div p:first-child{
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #999999;
}
.circle2-text-right div h4{
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #3D3D3D;
}
.circle1-text-right div:first-child{
   padding-left: 10px;
}
.absulute{
   position: absolute;
    left: -20px;
    top: 10px;
}
.relative{
   position: relative;
}
.circle1-text-right div p:first-child{
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #999999;
   /* text-align: end; */
}
.circle1-text-right div h4{
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #3D3D3D;
   /* text-align: end; */
}
.circle-right-container{
   display: flex;
}
.circle-left-container .circle-image{
   display: flex;
    justify-content: center;
    align-items: center;
}
.return-all-text-container{
   padding-left: 24px;
   padding-right: 24px;
   border: 2px solid #F8FAFD;
    border-radius: 4px;
    margin-right: 24px;
   /* padding-bottom: 24px; */
}
.return-container{
   /* border: 1px solid hotpink; */
   width: 50%;
   margin-left: 24px;
}
.return-heading{  
    display: flex;
   justify-content: space-between;
   padding-top: 24px;
   margin-bottom: 24px;
}
.return-heading h4{
   font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #141414;
}
.zeroda img:first-child{
   margin-right: 12px;
} 
.investment-container{
   padding-bottom: 24px;
}
.invesment{
   display: flex;
   justify-content: space-between;
}
.first-line-invest{
   width: 85%;
}
.first-line-div{
   width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.input-range input{
   width: 90%;
   height: 5px;
   margin-bottom: 14px; 
}
.input-range p{
   padding-left: 39px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
}
.first-line-div p:first-child{
   font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #999999;
}
.first-line-div p:nth-child(2){
   font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #3D3D3D;
}
.exposure-im{
   font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #666666;
}
.exposure-im p:first-child{
   margin-bottom: 10px;
}
.f1{
   display: flex;
   justify-content:space-between;
}
.max-daily-loss-container{
   display: flex;
   flex-wrap: wrap;
}
.Max-loss-Trade-container{
   display: flex;
   flex-wrap: wrap;

}
.max-daily-loss{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.max-Daily-Profit {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.max-loss-Trade{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.Max-loss-Trade-profit{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}


.loss-profit-container{
   background: #FBFCFE;
}
.all-text-profit{
   padding-bottom: 24px;
   padding-top: 24px;
   padding-left: 24px;
   padding-right: 24px;
}
.f1 div p:first-child{
   font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #999999;
margin-bottom: 4px;
}
.f1 div p:nth-child(2){
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   text-align: right;
   color: #3D3D3D;
   margin-bottom: 11px;
}
.f1 div input{
   width: 103px;
   height: 4px;
   margin-bottom: 8px;
}
#color-gray{
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   color: #000000;
   opacity: 0.7;
}
.max-daily-loss-container img{
   height: 15px;
}
.Max-loss-Trade-container img{
   height: 15px;
}
.risk-container{
   display: flex;
   /* background-color: #2C78F6; */
   justify-content: space-between;
   padding-top: 24px;
   flex-wrap: wrap;
}
.risk-container div p:first-child{
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #999999;
   margin-bottom: 8px;

}
.risk-container div p:nth-child(2){
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: #3D3D3D;
   margin-bottom: 4px;
}
.risk-container div p:nth-child(3){
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #4D4D4D;
   margin-bottom: 24px;  
}
#red-text{
   color: #E22828;
}
#green-text{
   color: #2AB070;   
}
.f1-last-button{
   width: 100%;
   border: 1px solid;
   display: flex;
   justify-content: center;
   background: #FBFCFE;
   border-radius: 4px;
}
.f1-last-button button{
   margin-top: 12px;
   margin-bottom: 12px;
   border: none;
   background: #FBFCFE;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
  font-family: 'SF Pro Text';
}
.net-roi-analyst-container{
   width: 100%;
   background: #FFFFFF;
}
.net-roi-analysis{
   padding-left: 24px;
   padding-right: 24px;
}
.net-roi-analysis div:first-child{
   display:flex;
   align-items: center;
   border-bottom: 2px solid #F8FAFD;
   padding-bottom: 25px;
   padding-top: 33px;
   flex-basis: 21%;
    justify-content: space-between;

}

.top-menu-bar{
   font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #141414;
}
.broker-graph .broker-graph{
   font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #4D4D4D;
}
.zeroda-list p:first-child{
   font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #2AB070;

}
.zeroda-list p:nth-child(2){
   font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #4D4D4D;
}
.zeroda-list p:nth-child(3){
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   color: #2AB070;
}
.net-roi-analysis .top-menu-bar img{
   margin-left: auto;
}
.right-risk-roi{
   margin-left: auto;
   display:flex;
   /* width: 50%; */
   flex-basis: 38%;
   justify-content: space-between;
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   color: #4D4D4D;
}
.broker-graph{
   display: flex;
   align-items: center;
   border-bottom: 2px solid #F8FAFD;
}
.zeroda-container{
   display: flex;
   padding-top: 8px;
   padding-bottom: 8px;
   border-bottom: 2px solid #F8FAFD;
}
.zeroda-list{
   display: flex;
   flex-basis: 45%;
   justify-content: space-between;
   align-items: center;
   margin-left: 50px;
}
.div-loading-bar{
 width: 45%;
 margin-right:30px;

}
.explore-plus-20{
   display: flex;
    align-items: center;
    padding-top: 19px;
}
.explore-plus-20 div{
   display: flex;
    margin-left: auto;
    flex-basis: 14%;
    justify-content: space-between;
    font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   color: #5D5D5D;
}
.explore-p-text{
   font-weight: 500;
font-size: 12px;
line-height: 14px;
text-decoration-line: underline;
color: #2C78F6;
}
.explore-plus-20 div .percentage{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 83px;
    height: 32px;
    background: rgba(44, 120, 246, 0.1);
    border-radius: 4px;
}
.explore-plus-20 div .value{
   display: flex;
   align-items: center;
}
.details-of-detail{
   font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #666666;
padding-bottom: 14px;
border-bottom: 0px 2px 0px #F5F5F5;
box-shadow: 0px 2px 0px #F5F5F5;
padding-top: 24px;
}
.bolinder-container{
   padding-left: 24px;
   padding-right: 24px;
   /* border: 1px solid gold; */
   padding-top: 24px;
   padding-bottom: 297px;
   display: flex;
}
.bolinder-container p{
   margin-bottom: 28px;
}
.bolinder-left-text{
   display: flex;
    flex-basis: 35%;
    margin-right: 24px;
    flex-direction: column;
    color: #000000;
    opacity: 0.5;
    
}
.bolinder-right-right-container{
   display: flex;
   /* border: 1px solid blue; */
   border: 1px solid #D9D9D9;
border-radius: 4px;
   flex-basis: 63%;
   height: fit-content;
   border: 1px solid #D9D9D9;
   border-radius: 4px;
}
.top-middle-bottom-container{
   /* display: flex; */
    /* border: 1px solid; */
    margin-top: 44px;
    width: 100%;
}  
.top{
   display: flex;
   justify-content: space-evenly;
   margin-bottom:35px;
   flex-wrap: wrap;
}
.middle{
    display: flex;
    /* padding-top: 100px; */
    justify-content: space-evenly;
    margin-bottom: 35px;
    flex-wrap: wrap;
}
.top div{
   width: 105px;
}
.middle div{
   width: 105px;
}
.top div p:first-child , .middle div p:first-child{
   font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.9;
  margin-bottom: 7px;
}
.top div p:nth-child(2) , .middle div p:nth-child(2){
   font-weight: 500; 
font-size: 12px;
 line-height: 18px;
color: #000000;
opacity: 0.3;
}
.last-text{
   margin-left: 7%;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* text-align: center; */
    color: #000000;
}
.footer-text{
   margin-left: 7%;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #000000;
   opacity: 0.9;
}

/* mediaquarrie */
@media only screen and (max-width:410px) {
   .display-on-410{
      display: flex;
      width: 90%;
      justify-content:space-between;
      padding-bottom: 20px;
      border-bottom: 0.7px solid #D9D9D9;
      margin-bottom: -22px;
   }
   .display-on-410 .Jhunjhunwala{
      margin-left: -80px;
   }
   #jhunjhunwala-hidden-on-410{
      display: none;
   }
   .display-star-410{
      display: flex;
      gap: 15px;
      align-items: center;

   }
   .display-410-banknifty{
      display: flex;
      justify-content: center;
      width: 100%;
      font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */


color: #4D4D4D;

   }
   .bank-nifty-410{
      width: 90%;
      display: flex;
      justify-content: space-between;
      
   }
   .display-420-img{
      width: 50px;
      height: 50px;
   }
   .bank-nifty-410 div:nth-child(2){
      width: 49%;
    height: auto;
   }
   .bank-nifty-410 div p:nth-child(2){
      padding-top: 6px;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #787878;
   }
   .bank-nifty-410 div:first-child{
      padding-left: 10px;
   }
   .bank-nifty-410 div img{
      width: 47%;
      padding-left: 82px;
   }
   

}



@media only screen and (max-width:750px) {
   .header{
      margin-left: 14px;
   }
   .day-list{
      display: none;
   }
   .i{
      display: block;
   }
   .star{
      display: none;
   }
   .i img{
      width: 100%;
   }
   button{
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
   }
   .button button{
      width: 100%;
      background: linear-gradient(264.83deg, #2C78F6 0%, #00BFE7 128.96%);
border-radius: 4px;
font-weight: 600;
font-size: 13px;
line-height: 16px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
   }
   .button{
      width: 100%;
      display: flex;
   }

   .right-header{
      width: 90%;
   }
   .right-header ul{
         width: 100%;
   }
   .right-header ul li:nth-child(2){
      display: none;
   }
   .right-header ul li:nth-child(3){
      display: none;
   }
   .menuu{
      display:block;
      padding-left: 0px;
   }
   .responsive-logo{
      display:none;
   }
   .circle-all-container{
      display:flex;
      flex-direction: column;
   }
   .performance-container{
      /* background: antiquewhite; */
    /* width:90%; */
    max-width: 100%;
    padding: 0 24px;
    min-width: -webkit-fill-available;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;
    /* text-align: center; */

    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
   }
   .circle-left-container{
      width: 100%;
      margin-bottom: 30px;
      justify-content: center;
   }
   .circle-right-container{
      width: 100%;
      margin-bottom: 30px;
      justify-content: center;
      /* text-align: center; */
   }
   .risk-container{
      justify-content: space-between;
      text-align: left;
   }
   .f1 div:first-child{
      display: none;
   }
   .return-all-text-container{
      padding: 0%;
   }
   .broker-graph{
      display: none;
   }
   .div-loading-bar{
      width: 100%;
      margin-right: 30px;
      margin-bottom: 20px;
   }
   .zeroda-container {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 2px solid #F8FAFD;
      flex-direction: column;
   }
   .zeroda-container img:first-child{
      max-width: 120px;
      width: 100%;
      margin-bottom: 12px;
   }
   .div-loading-bar{
      width: 100%;
   }
   .explore-p-text{
      width: 100%;
      text-align: center;
      background: #FAFCFF;
      border: 1px dashed #2C78F6;
      border-radius: 4px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-decoration: none;
      color: #666666;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
   }
   .explore-plus-20 div{
      display: none;
   }



  
 .bolinder-container{
    flex-wrap: wrap;
 } 
 .bolinder-left-text{
   flex-basis: 100%;
 }
 .bolinder-container p{
   margin-bottom: 14px;
 }
 .top{
    margin-bottom: 0;
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    text-align: center;
 }
 .middle {
    margin-bottom: 0;
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    text-align: center;
 }
 .top-middle-bottom-container{
    margin-top: 12px;
    /* width: 100%; */
 }
 .top-middle-bottom-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: baseline;
   padding-left: 20px;
   padding-right: 20px;
 }

 .bolinder-right-right-container{
    flex-basis: 100%;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
    border-radius: 4px;
 }
}
 



@media only screen and (max-width: 1100px){
   .header{
      justify-content: space-between;
   }
   .right-header{
      width: 100%;
   }

   .left-header-list ul{
      display: none;
   }
   .right-all-div-container{
      width: 100%;
   }
   .dashboard-container{
      display: none;
   }
   .performance-pluse-return-container{
      flex-wrap: wrap;
   }
   .performance-container{
      
      max-width: 100%;
      width: 100%;

   }
   .return-container{
    max-width: 100%;
      width: -webkit-fill-available;
   }


   .stock-rate-container{
      justify-content: center;
      gap: 38px;
    column-gap: 45px;
   }
   .circle-right-container div img{
     margin-right: 30px;
   }
   .circle-image img{
      margin-right: 20px;
   }
   .explore-plus-20 div{
      column-gap: 36px;
   }
   .explore-p-text div{
      gap: 30px;
       
   }
}


